<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="static/account-style.css">
</head>

<body>
    <header>
        <h1>Welcome to Your Dashboard</h1>
    </header>

    <section>
        <h2>User Information</h2>
        <p>Username: </p>
        <h2>Uploaded audios</h2>
        <!-- Список загруженных видео -->

        <!-- Другие элементы личного кабинета -->
    </section>


</body>

</html>
