<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Cropper</title>
    <link rel="stylesheet" href="static/extract_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.css">
</head>
<body>
    <a id="backToHomeBtn" href="/logged_index" class="button-link">Back to Home</a>
    <div id="videoContainer">
        <label class="label" for="videoInput">
            <input type="file" id="videoInput" accept="video/*">
        </label>
        
        <video id="cropperVideo" width="400" controls></video>
        
        <div id="slider"></div>
        <div id="values">Selected range: <span id="value1"></span> - <span id="value2"></span></div>
        <div id="buttonContainer">
            
            <label class="label" for="filenameInput">
                <input type="text" id="filenameInput" placeholder="Enter output file name">
            </label>
            
            <button id="cropBtn">Crop Video</button>
            <a id="downloadLink" download="cropped_audio.mp3">Download Cropped Audio</a>
            <button id="saveToProfileBtn">Save to Profile</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.7.0/nouislider.min.js"></script>
    <script>
        var videoInput = document.getElementById('videoInput');
        var videoContainer = document.getElementById('videoContainer');
        var cropperVideo = document.getElementById('cropperVideo');
        var slider = document.getElementById('slider');
        var value1 = document.getElementById('value1');
        var value2 = document.getElementById('value2');
        var cropBtn = document.getElementById('cropBtn');
        var saveToProfileBtn = document.getElementById('saveToProfileBtn');
        var downloadLink = document.getElementById('downloadLink');
        
        videoInput.addEventListener('change', function (event) {
            var selectedFile = event.target.files[0];
        
            if (selectedFile) {
                videoContainer.style.display = 'block';
                cropperVideo.src = URL.createObjectURL(selectedFile);
            }
        });
        
        cropperVideo.addEventListener('loadedmetadata', function () {
            initializeSlider();
        });
        
        function initializeSlider() {
            noUiSlider.create(slider, {
                start: [0, Math.min(40, cropperVideo.duration)],
                connect: true,
                range: {
                    'min': 0,
                    'max': cropperVideo.duration
                }
            });
        
            slider.noUiSlider.on('update', function (values, handle) {
                if (handle === 0) {
                    value1.textContent = toTimeString(values[0]);
                } else {
                    value2.textContent = toTimeString(values[1]);
                }
            });
        
            slider.noUiSlider.on('slide', function (values) {
                cropperVideo.currentTime = values[0];
            });
        
            slider.noUiSlider.on('change', function (values) {
                cropperVideo.currentTime = values[0];
                cropperVideo.play();
            });
        }
        
        cropBtn.addEventListener('click', async function () {
            var startTime = slider.noUiSlider.get()[0];
            var endTime = slider.noUiSlider.get()[1];
            
            // Получаем значение введенного пользователем имени файла
            var userFilename = document.getElementById('filenameInput').value;
        
            // Передаем имя файла вместе с другими данными
            await cropVideo(startTime, endTime, videoInput.files[0], userFilename);
        });
        
        async function cropVideo(startTime, endTime, videoFile, userFilename) {
            var formData = new FormData();
            formData.append('start_time', startTime);
            formData.append('end_time', endTime);
            formData.append('video', videoFile);
            
            // Добавляем имя файла в FormData
            formData.append('filename', userFilename);
        
            try {
                var response = await fetch('/crop', {
                    method: 'POST',
                    body: formData
                });
        
                if (response.ok) {
                    var blob = await response.blob();
                    var objectURL = URL.createObjectURL(blob);
        
                    downloadLink.href = objectURL;
        
                    // Используем введенное пользователем имя файла
                    downloadLink.download = userFilename + '.mp3';
        
                    downloadLink.style.display = 'inline';
                } else {
                    console.error('Server response was not OK:', response);
                }
            } catch (error) {
                console.error('Error during fetch:', error);
            }
        }
        
        async function saveToProfile(startTime, endTime, videoFile) {
            var formData = new FormData();
            formData.append('start_time', startTime);
            formData.append('end_time', endTime);
            formData.append('video', videoFile);
        
            try {
                var response = await fetch('/crop', {
                    method: 'POST',
                    body: formData
                });
        
                if (response.ok) {
                    // Обработка успешного ответа (если необходимо)
                    console.log('Audio saved to the profile successfully.');
                } else {
                    console.error('Server response was not OK:', response);
                }
            } catch (error) {
                console.error('Error during fetch:', error);
            }
        }
        
        function toTimeString(seconds) {
            var date = new Date(null);
            date.setSeconds(seconds);
            return date.toISOString().substr(11, 8);
        }
    </script>
</body>
</html>
