<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio-Extractor</title>
    <link rel="stylesheet" href="static/index.css">
</head>

<body>
    <header>
        <h1>Welcome to Audio-Extractor</h1>
        <p>Project for extracting audio from vieo files.</p>
        <div class="cta-buttons">
            <a class="cta-button" href="/registration">Register</a>
            <a class="cta-button" href="/login">Login</a>
        </div>
    </header>

    <section>
        <h2>Features</h2>
        <div class="features">
            <div class="feature">
                <h3>Extracting</h3>
                <p>Upload video files and extract audio from them</p>
            </div>
            <div class="feature">
                <h3>Saving</h3>
                <p>You can save your audios on your personal account </p>
            </div>
            <div class="feature">
                <h3>Share</h3>
                <p>You can share your audios to another users</p>
            </div>
        </div>
    </section>


</body>

</html>
