<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio-Extractor</title>
    <link rel="stylesheet" href="static/loged_index_styles.css">
</head>

<body>
    <section>
        <a href="/profile" class="dashboard-button">Go to Dashboard</a>
        <h2>Let's get it started🔊</h2>
        <div class="features">
            <div class="feature">
                <a href="/extract"><h3>Extracting</h3></a>               
                <p>Upload video files and extract audio from them</p>
            </div>
            <div class="feature">
                <a href="/search_profiles"><h3>Search</h3></a>                
                <p>You can search for people profiles to see their audios</p>
            </div>
        </div>
        
    </section>
</body>

</html>
