<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Audio-Extractor</title>
    <link rel="stylesheet" href="static/login-style.css">
</head>

<body>
    <header>
        <h1>Login to Audio-Extractor</h1>
    </header>

    <section>
        <form action="/login" method="post">
            <label for="login-username">Username:</label>
            <input type="text" id="login-username" name="login-username" required>

            <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="login-password" required>

            <input type="submit" class="cta-button" value="Login">
        </form>

        <a href="/index" class="back-button">Back to Home</a>
    </section>
</body>

</html>

