<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="static/profile_style.css">
</head>
<body>
    <div class="profile-container">
        <div class="profile-header">
            <img src="{{ url_for('static', filename='images/profile-picture.jpg') }}" alt="Profile Picture">
            <h1>{{ user.username }}</h1>
        </div>
        <div class="profile-content">
            <h2>Your Audio Files</h2>
            <ul>
                {% for audio_file in audio_files %}
                    <li>
                        {{ audio_file.filename }}
                        - <a href="{{ url_for('listen_audio',user_id=current_user.id, filename=audio_file.filename) }}">Listen</a>
                        - <a href="{{ url_for('share_audio',user_id=current_user.id, filename=audio_file.filename) }}">Share</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="profile-footer">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
    </div>
</body>
</html>
