<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Audio-Extractor</title>
    <link rel="stylesheet" href="static/register_style.css">
</head>

<body>
    <header>
        <h1>Register for Audio-Extractor</h1>
    </header>

    <section>
        <form action="/registration" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" class="cta-button" value="Register">
        </form>

        <a href="/" class="back-button">Back to Home</a>
    </section>

</body>

</html>

